@font-face {
    font-family: monogram;
    src: url("/monogram.ttf") format("truetype");
    font-display: swap;
  }


  /*============ Globl Stuff ============*/
:root {
    --font-family: monogram, monospace;
    --font-size: 2rem;
    --line-height: 1.6;
    --color-text: white;
    --color-background: rgb(80, 2, 80);
}

body{
    font-family: var(--font-family);
    font-size: var(--font-size);
    height: 100vh;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at center, #37025e 0%, #460c46 100%);
    box-sizing: border-box;
}

@keyframes bobble {
    0%, 100% {
      transform: translateY(0); /* Starting and ending at the same position */
    }
    50% {
      transform: translateY(-2px); /* Move up by 10px */
    }
  }

#app {
    width: 100%;
    height: 100%;
    position: relative;
}


#textbox {
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 2vh;
    min-height: 10vh;
    background: white;
    border-radius: 3px;
    outline-style: solid;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    word-spacing: 0.2rem;
    filter: drop-shadow(0 0 0.75rem rgb(112, 112, 112));
    /* overflow: auto; */
}

.ui-text {
    margin: 0;
    user-select: none;
}

.ui-close-btn {
    font-family: monogram, monospace;
    border-style: none;
    border-radius: 3px;
    padding: 1rem;
    font-size: inherit;
}
.ui-fight-btn {
    font-family: monogram, monospace;
    align-self: flex-start;
    border-style: none;
    border-radius: 3px;
    padding: 1rem;
    font-size: inherit;
}

.btn-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;
}

.fight-btn-container {
    display: flex;
    align-self: flex-start;
    width: 100%;
}

.close-btn-container {
    display: flex;
    width: 100%;
    justify-content: end;
}


#note {
    position: absolute;
    left: 5%;
    top: 1vh;
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    outline: solid 0.5px rgb(0, 0, 0);
    padding: 0.6rem;
    background-color: rgba(255, 255, 151, 0.8);
    animation: bobble 1s infinite ease-in-out;
}