<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/gameUI.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
  </head>
  <body>
    <div id="app">
      <div>
        <p id="note">Tap/Click around to move</p>

        <!-- dialogue box -->
        <div id="textbox-container" style="display: none">
          <div id="textbox">
            <p id="dialogue" class="ui-text"></p>
             <div class="btn-container"> 
              <div class="fight-btn-container">
                <button id="fight" class="ui-fight-btn">Fight</button>
              </div>
              <div class="close-btn-container">
                <button id="close" class="ui-close-btn">Close</button>
              </div>
             </div>
          </div>
        </div>
        <!-- END dialogue box -->

       <!-- Fight Scene -->
      <div id="fight-scene-wrapper" style="display: none">
        <div id="fight-scene"> 
            <div id="fight-scene-fight">
            </div>
    
            <div id="fight-scene-editor">
                <div id="ui-top"> </div>
                <div id="ui-bottom"> </div>
            </div>
    
        </div>
      </div>
      <!-- Fight Scene -->
      </div>
      <canvas id="game"></canvas>
    </div>
    <script type="module" src="../static/js/main.js"></script>
  </body>
</html>
