<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vite App</title>
  </head>
  <body class="center">
    <div class="center-box">
      <h2 id="center-box-heading">Sign Up</h2>
      <form id="login-form" action="/custom"> 
        <div class="form-row">
            <label for="username" class="login-label">Username: </label>
            <input type="text" class="input-boxes" id="username" name="username" placeholder="Enter Username" required>
          </div>
          <div class="form-row">
            <label for="password" class="login-label">Password: </label>
            <input type="password" class="input-boxes" id="password" name="password" placeholder="Enter Password" required>
          </div>
          <div class="form-row">
            <label for="confirm-password" class="login-label">Password: </label>
            <input type="password" class="input-boxes" id="password" name="confirm-password" placeholder="Confirm Password" required>
          </div>
        <button type="submit" value="Login" class="submit-button"><a href="game">Sign In</a></button>
      </form>
      <p class="center">Already a gamer? <br> <a href="../../" class="clickable-links">Login Here</a></p>
      
    </div>
  </body>
</html>