@font-face {
    font-family: monogram;
    src: url("/monogram.ttf") format("truetype");
    font-display: swap;
  }


  /*============ Globl Stuff ============*/
:root {
    --font-family: monogram, monospace;
    --font-size: 2rem;
    --line-height: 1.6;
    --color-text: white;
    --color-background: rgb(80, 2, 80);
}

body{
    font-family: var(--font-family);
    font-size: var(--font-size);
    height: 100vh;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle at center, #37025e 0%, #460c46 100%);
    box-sizing: border-box;
}

@keyframes glowPulse {
    0% {
        text-shadow: 0 0 5.5px rgba(255, 255, 255, 0.5), 0 0 6px rgba(255, 255, 255, 0.4);
    }
    25% {
        text-shadow: 0 0 6px rgba(255, 255, 255, 0.6), 0 0 10px rgba(255, 255, 255, 0.5);
    }
    50% {
        text-shadow: 0 0 6.5px rgba(255, 255, 255, 0.65), 0 0 11px rgba(255, 255, 255, 0.6);
    }
    75% {
        text-shadow: 0 0 6px rgba(255, 255, 255, 0.6), 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        text-shadow: 0 0 5.5px rgba(255, 255, 255, 0.5), 0 0 6px rgba(255, 255, 255, 0.4);
    }
}

.hidden {
    display: none;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    color: white;
}

a {
    text-decoration: none;
}

.clickable-links {
    color: white;
    text-decoration: none;
    transition: 0.3s ease, color 0.3s ease;
}

.clickable-links:hover{
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8), /* Inner glow */
                0 0 10px rgba(255, 255, 255, 0.6); /* Outer glow */
    transform: scale(1.05);
    color: #f0f0f0; /* Optional: Slightly brighten the text color */
}
/*============ End GLobal Stuff ============*/

/*============ Center Box ============*/
.center-box{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 60%;
    justify-content: flex-start;
    align-items: center;
    border: 4px solid rgb(29, 3, 3);
    box-sizing: border-box;
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.5);
    background-color:  rgba(15, 12, 19, 0.6);
    border-radius: 10%;
    transition: 0.3s ease;
    user-select: none;
}
.center-box:hover {
    box-shadow: 10px 10px 30px 10px rgba(0, 0, 0, 0.5); 
    transform: translateY(-1px); 
}

.center-box:hover #center-box-heading{
    text-shadow: 0 0 15px rgba(190, 190, 190, 0.6);
}
/*============ End Center Box ============*/

/*============ Box Content ============*/
#center-box-heading{
    color: white;
    font-size: 5rem;
    transition: 0.3s ease;
}

#login-form{
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.form-row {
    display: flex;
    align-items: center; 
}

.input-boxes{
    font-family: inherit;
    font-size: 1.5rem;
    color: white;
    background-color: transparent;
}

.login-label {
    margin-right: 0.5rem;
    color: white;
    transition: 0.3s smooth;
}

.form-row:has(.input-boxes:focus) .login-label{
    color: white;
    animation: glowPulse 2s infinite;
}

.input-boxes::placeholder {
    color: rgba(255, 255, 255, 0.5); /* Example: Semi-transparent white */
    font-style: italic; /* Optional for distinct styling */
}

.submit-button {
    font-family: inherit;
    font-size: 1.8rem;
    cursor: pointer;
    width: 40%;
    align-self: center;
    margin-top: 1rem;
    transition: 0.2s ease;
}

.submit-button:hover{
    transform: translateY(-1px); 
    background-color: rgb(182, 182, 182);
}
/*============ End Box Content ============*/


